h1 {
    color: #ffffff;
    background-color: #615031;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
}

.calculator {
    background-color: #121111;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    width: 450px;
    height: 500px;
    margin: 60px auto;
    border-radius: 12px;
}

.AC {
    grid-column: 1/3;
    border-radius: 7px;
}

.DEL {
    border-radius: 7px;
}

.equals {
    grid-column: 3/5;
    background-color: #ffa500;
    color: #ffffff;
    border-radius: 7px;
}
